//plug 套件
//@import "compass";
@import "compass/css3";
//@import "plug/susy";
@import "susy";
@import "breakpoint";
//@import "plug/animate";

//base 基本設定
@import "base/reset";
@import "base/clearfix";
@import "base/setting";

//版行設定
@import "layout/style";
@import "layout/layout";

// 圖片
@import "compass/utilities/sprites";
$icons-sprite-dimensions: true;
$icons-spacing: 10px; //圖片間距 10px
$icons-layout: horizontal; // horizontal 橫式排列, vertical 直的排列
@import "icons/*.png";
@include all-icons-sprites; //all-後面接著"icons"是資料夾名稱
