html, body {
  color: $fontColor;
  background: $backGroundColor;
  font-family: $fontStyle;
  font-size: $fontBase;
  line-height: $lineHeightBase;
}
/*LOGO h1 加字*/
a {
	color: $linkColor;
}
a:link {
  text-decoration: underline;
}
a:hover {
  color: lighten($linkColor, 20%);
}
.icons-logo {
    white-space: nowrap;
    text-indent: 110%; /*把文字用縮排推到寬度以外*/
    overflow: hidden;
    margin: 5px 0;
}
h1, h2, h3, h4 {
	font-weight: bold;
}
.icons {
	display: inline-block;
}
.is-hidden {
  text-indent: -9999em;
  overflow: hidden;
  white-space: nowrap;
  display: none;
}